In [88]:
import zipfile
import os
import cv2
import re
import numpy as np
import pandas as pd

In [89]:
folder = r"C:\Users\gorla\Downloads\Dog_Breed.zip"

In [90]:
# Extracting the files

file_path = r"D:\Vishu\My\Innomatics\286\Dog_Breed-"  # where we want to extract the zip files

with zipfile.ZipFile(folder,'r') as file:
    file.extractall(file_path)

In [91]:
os.getcwd()

'D:\\Vishu\\My\\Innomatics\\286\\Dog_Breed\\dataset\\Yorkshire_Terrier'

In [92]:
os.chdir(file_path)

In [93]:
os.listdir()

['dataset']

In [94]:
os.getcwd()+'\\'+'dataset

SyntaxError: unterminated string literal (detected at line 1) (569072514.py, line 1)

In [95]:
original = os.getcwd()+'\\'+'dataset'
os.chdir(original)

In [96]:
os.getcwd()

'D:\\Vishu\\My\\Innomatics\\286\\Dog_Breed-\\dataset'

In [97]:
os.listdir()

['Beagle',
 'Boxer',
 'Bulldog',
 'Dachshund',
 'German_Shepherd',
 'Golden_Retriever',
 'Labrador_Retriever',
 'Poodle',
 'Rottweiler',
 'Yorkshire_Terrier']

In [98]:
for i in os.listdir():
    print(i)

Beagle
Boxer
Bulldog
Dachshund
German_Shepherd
Golden_Retriever
Labrador_Retriever
Poodle
Rottweiler
Yorkshire_Terrier

In [99]:

Rows = []  # empty list for rows of image
label = []  # Breed names

pattern = r"\b([A-Za-z]+?)_\d+\b"

for i in os.listdir():
    path = original+'\\'+i    # getiing thet path each folder i.e digit 0,1
    os.chdir(path)
    
    
    for j in os.listdir():      # entering into folders
        array = cv2.imread(j,0)  # reading the image as array
        resized = cv2.resize(array,(200,200))   # resizing for uniformity
        row = resized.flatten()  # making image as a row
        Rows.append(row)
        match = re.search(pattern,j)
        if match:
            label.append(match.group(1))   # # Extract the breed name from the folder name


df1 = pd.DataFrame(Rows)
df2 = pd.DataFrame(label,columns = ['Breed'])
df = pd.concat([df1,df2], axis = 1)   # creating the dataframe

In [100]:
df

,0,1,2,3,4,5,6,7,8,9,...,39991,39992,39993,39994,39995,39996,39997,39998,39999,Breed
0,0,1,2,6,9,13,17,20,22,21,...,130,131,130,129,127,125,126,127,127,Beagle
1,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Beagle
2,183,185,183,175,159,139,117,94,75,64,...,165,164,163,162,160,159,157,154,154,Beagle
3,217,218,219,220,221,224,225,226,227,229,...,119,111,98,94,90,91,88,83,84,Beagle
4,155,154,154,156,160,165,171,176,178,179,...,125,127,130,133,134,135,134,133,132,Beagle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,19,19,18,18,17,17,16,15,14,14,...,205,205,204,204,203,202,201,201,201,Terrier
963,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Terrier
964,80,80,79,78,77,76,75,74,73,73,...,133,129,123,123,128,128,128,128,123,Terrier
965,63,63,63,64,64,64,65,66,66,67,...,63,63,63,63,63,63,63,63,63,Terrier
966,94,92,88,83,78,75,77,81,86,89,...,74,67,59,58,60,56,55,57,57,Terrier

In [125]:
df.to_csv('Breed.csv')

# Model Building

In [101]:
X = df.drop('Breed',axis = 1)
y = df['Breed']

In [102]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

In [103]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=23)

# KNN

In [104]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test,y_pred)

0.8298969072164949

## Decision Tree

In [105]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train,y_train)
y_pred = tree.predict(X_test)
accuracy_score(y_test,y_pred)

0.9845360824742269

## Support Vector Classifier

In [ ]:
from sklearn.svm import SVC
sv = SVC()
sv.fit(X_train,y_train)
y_pred = sv.predict(X_test)
accuracy_score(y_test,y_pred)

# Logistic Regression

In [107]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)
y_pred = log.predict(X_test)
accuracy_score(y_test,y_pred)

0.9896907216494846

## Naive Bayes

In [108]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,y_train)
y_pred = nb.predict(X_test)
accuracy_score(y_test,y_pred)

0.4175257731958763

In [109]:
def upload_image(path):
    array = cv2.imread(path,0)
    resized = cv2.resize(array,(200,200))
    data = resized.flatten()
    print(log.predict([data])[0])

In [113]:
upload_image(r"D:\Vishu\My\Innomatics\286\Dog_Breed-\dataset\Yorkshire_Terrier\Yorkshire Terrier_1.jpg")

Terrier

In [122]:
import pickle

In [123]:
pickle.dump(log,open(r"LR1.pkl","wb"))  # writing as a binary format and # Saving the model using pickle

In [124]:
Dog_brd = pickle.load(open(r"LR1.pkl","rb"))   # Loading and using the model